{% extends "AdminBase.html" %}
{% block maincontent %}
<script type="text/javascript">
$(function(){
    $.each($("table"), function(n, i) {
        $(i).bind("click", function(event) {
            var iText = event.target.getAttribute("value"), iData = event.target.getAttribute("data");
            if(iData == null) return ;
            console.log(iText + ":" + iData);
            if(iText == "修改") {
                location.href = "{{ baseurl }}/admin/post/" + iData + "?p={{ p.index }}";
            } else if(iText == "删除") {
                    if(!window.confirm("你确定要删除?\n删除动作将会删除相关评论")) {
                        return;
                    }
                    $.ajax({
                        type:"POST",
                        url:"{{ baseurl }}/admin/post/"+iData,
                        data:{"action":"delete",
                              "user":iData},
                        success:function(msg){
                            if(msg == "ok") {
                                $(event.target).parent().parent().remove();
                            }
                        },
                        error:function(xhr, textStatus, errorThrown){
                            alert("出错"+textStatus);
                        }
                    });
            }
        });
    });
});
</script>
<div class="box">
<div class="inner">
<form method="POST">
<fieldset>
	<legend>文章管理</legend>
    {% if msg %}<div class="cell">{{ msg }}</div>{% endif %}
    <div class="cell"><input type="button" value="添加" onclick="location.href='{{ baseurl }}/admin/post/new'" class="super normal button"> &nbsp;</div>
    <table cellpadding="1" cellspacing="0" border="0">
    <thead><tr><td width="35">序号</td>
               <td width="220">标题</td>
               <td width="100" align="center">分类</td>
               <td width="120" align="center">创建时间</td>
               <td width="200" align="center">操作</td></tr></thead>
    <tbody>
    {% for i, title, cat, catkey, created, key in datas -%}
    <tr>
        <td width="35" align="center">
            {{ i }}
        </td>
        <td width="220" align="left">
            {{ title }}
        </td>
        <td width="100" align="center">
            <a href="{{ baseurl }}/admin/post?category={{catkey}}">{{ cat }}</a>
        </td>
        <td width="120" align="left">
            {{ created.strftime("%Y/%m/%d %H:%M:%S") }}
        </td>
        <td width="200" align="center">
            <input type="button" value="修改" data="{{ key }}" class="super normal button">&nbsp;
            <input type="button" value="删除" data="{{ key }}" class="super normal button">
        </td>
    </tr>
    {%- endfor %}
</tbody></table>
    {% import 'macros.html' as macros %}{{ macros.pager(p, baseurl + "/admin/post/") }}
</fieldset>
</form>
</div>
</div>
{% endblock %}