<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head profile="http://gmpg.org/xfn/11">
<title>{% if title %}{{ title }} | {% endif %}{{ blog_title }}</title>
<link rel="shortcut icon" href="{{ baseurl }}/images/favicon.ico" />
{% for type, src in head_link %}{% if type == "css" %}<link rel="stylesheet" href="{{ baseurl }}{{ src }}" type="text/css" media="screen, projection" id="cssfile" />
{% else %}<script type="text/javascript" src="{{ baseurl }}{{ src }}"></script>{% endif %}{% endfor %}
<style type="text/css">
#wrap{ margin:0 auto; padding:0; width:100%; background:url(/images/adminside-bg.gif) repeat-y left #f8f8f8;}
#main{width: 100%; }
#maincontent{ float:right; margin:0 0 0 -171px; padding:0; display:inline;width: 100%; }
#maincontent .forFlow{ margin:0 0 0 171px; float: none; width: auto; }
#sidebar{ float:left;  margin:10px; padding:0; width:150px; display:inline;  }
</style>
</head>
<body>
	<div id="wrap">
		<div id="header">
			<div id="header-left">
				<h1><a href="{{ baseurl }}/">{{ blog_title }}</a></h1>
				<div class="description">{{ blog_subtitle }}</div>
			</div>
			<div id="header-right">
				<div class="layout">
				</div>
				<div id="menu">
					<li class="{% if is_home %}current_page_item{%else%}page_item{%endif%}"><a href="{{ baseurl }}/" title="{{ blog_title }}">首页</a></li>
				</div>
			</div>
		</div>
        <div id="main">
            <div id="maincontent"><div class="forFlow">
                        {% block maincontent -%}{%- endblock %}
</div></div>
        	<div id="sidebar">
                <ul id="sidebarul">
                {% for i in sitebar %}
                    <li class="widget widget_categories">
                        <h3 class="widgettitle">{{ i }}</h3>
                        <ul>
                        {% for j in sitebar[i] %}
                        <li><a href="{{ baseurl }}{{ j[1] }}">{{ j[0] }}</a></li>
                        {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
                </ul>
            </div>
        </div>
		<div id="footer">
			<div id="footer-wp"></div>
			<div id="footer-link"><p>Blog Engine <a rel="nofollow" href="http://www.macgoo.com" target="_blank">Banana</a> </p>
            {{ blog_footer }}
            </div>
		</div>
	</div>
</body>
</html>