{% extends "AdminBase.html" %}
{% block maincontent %}
<script type="text/javascript">
    fmap = {};
    fmap[".jpg"] = true;
    fmap[".gif"] = fmap[".jpge"] = fmap[".png"] = fmap[".ico"] = fmap[".bmp"] = fmap[".jpg"];


    function urlnamecallback(result) {
        result = result.data.translations[0].translatedText;
        console.log(result);
        result = result.replace(/&#(\d+);/, function(y,x){return String.fromCharCode(x);})
                       .replace(/\s+/g, " ")
                       .replace("?","")
                       .replace("#","")
                       .replace(/([^\w\s]|\?)\s/, "$1").split(" ").join("_");
        if(result.substr())
        $("input[name='url']").val(result);
    }
    $(document).ready(function () {
        $('.editor').markItUp(mySettings);

        tds = $('table tbody tr td:contains("预览内容")');
        tds.parent().hide()

        $('#upfilebtn').uploadify({
            'uploader': '/js/uploadify/uploadify.swf',
            'script': '/admin/attachment',
            'cancelImg': '/js/uploadify/cancel.png',
            'wmode': 'transparent',
            auto: true,
            sizeLimit: 1000000,
            multi: true,
            onComplete: function (event, ID, fileObj, response, data) {
                $('form').append('<input type="hidden" name="attathments" value="' + response + '" />');
                $('#upfileshow').append('<li data="' + response + '" fname="'+fileObj.name+'" ftype="' + fileObj.type + '" class="clickable"><a title="' + "插入文章中" + fileObj.name + '">' + fileObj.name + '</a></li>');
            },
            onError: function (e) {
                //
            }
        });
        $('#upfileshow li').live("click", function (e) {
            var target = $(e.target).parent(),
                data = target.attr("data"),
                ftype = target.attr("ftype"),
                fname = target.attr("fname");

            $.markItUp(fmap[ftype] ? {
                target: '.editor:first',
                openWith: '<img title="',
                closeWith: '" src="{{baseurl}}/attachment/' + data + '" \/>',
                placeHolder: "a Image"
            } : {
                target: '.editor:first',
                openWith: '<a title="' + fname + '" href="{{baseurl}}/attachment/' + data + '">',
                closeWith: '<\/a>',
                placeHolder: fname
            });
        });

        $("input[name='title']").focusout(function(e){
            var value = $(e.target).val();
            $.getScript("https://www.googleapis.com/language/translate/v2?" +
                $.param(
                {"key": "AIzaSyD3_KyaIis7pklJsNXt_isG7QzkTYPmf2w",
                "q": value,
                "source": "zh-CN",
                "target": "en",
                "callback":"urlnamecallback"}
                        )
            );
        });
        $("#analysispost").click(function(e){
            var clickfun = arguments.callee,
                 postval = $("textarea[name='content']").val();
            postval = $("<div>" + postval + "</div>").text();
            $("#analysispost").unbind().children(":first").removeClass("clickable").removeClass("sky");
            $.post("{{ baseurl }}/tool/keyword", {
                "data" : postval
            }, function(data){
                data = data.slice(0, 6);
                var tag = $("input[name='tag']");
                if(tag.val() != "") {
                    var old = tag.val();
                    if(old.substr(-1) == ",") {
                        old = old.replace(/,+$/, "");
                    }
                    old = old.split(",");
                    for(var i=0,ilen=data.length; i <ilen; i++) {
                        if(old.indexOf(data[i]) == -1) {
                            old.push(data[i]);
                        }
                    }
                    tag.val(old.join(","))
                } else {
                    tag.val(data.join(","))
                }
                $("#analysispost").click(clickfun).children(":first").addClass("clickable").addClass("sky");
            });
        });

    });
</script>
<div class="box">
<div class="inner">
<form method="POST">
<fieldset>
	<legend>{{ title }}</legend>
    <table cellpadding="3" cellspacing="0" border="0">
    <tbody><tr>
        <td width="50" align="right">
            标题
        </td>
        <td width="200" align="left">
            <input type="text" class="sl" name="title" value="{{ post.title }}">
        </td>
    </tr>
    <tr>
        <td width="50" align="right">
            分类
        </td>
        <td width="200" align="left">
            <select name="category">
            {% for i in cates %}<option value="{{ i.key() }}" {%if curcate and curcate.key() == i.key()%}selected="selected"{%endif%}>{{ i.title }}</option>{% endfor %}
            </select>
        </td>
    </tr>
    <tr>
        <td width="50" align="right">
            URL别名
        </td>
        <td width="200" align="left">
            <input type="text" class="sl" name="url" value="{{ post.url }}" />
        </td>
    </tr>
    <tr>
        <td width="50" align="right">
            创建时间
        </td>
        <td width="200" align="left">
            <input type="text" class="sl" name="created" value="{{ post.created.strftime("%Y/%m/%d %H:%M:%S") }}">
        </td>
    </tr>
    <tr>
        <td width="50" align="right">
            上传文件
        </td>
        <td width="200" align="left">
            <input type="file" class="sl" name="upfile" id="upfilebtn" value="">
            <div id="upfileshow" class="padding"></div>
        </td>
    </tr>
    <tr>
        <td width="50" align="right">
            内容
        </td>
        <td align="left">
            <textarea name="content" class="editor" cols="50" rows="20">{{ post.content }}</textarea>
        </td>
    </tr>
    <tr>
        <td width="50" align="right">
            预览内容
        </td>
        <td align="left">
            <div style="width:600px"><textarea name="precontent" class="editor" cols="60" rows="20">{{ post.precontent }}</textarea><div>
        </td>
    </tr>
    <tr>
        <td width="50" align="right">
            标签
        </td>
        <td width="200" align="left">
            <input type="text" class="sl" name="tag" value="{{ tag }}">  <a id="analysispost"><span class="clickable sky sl">提取关键字</span></a>
        </td>
    </tr>
    <tr>
        <td width="50" align="right">
        </td>
        <td width="200" align="left">
            <a onclick="tds.parent().toggle('slow');"><span class="clickable sky sl">显示预览</span></a>
        </td>
    </tr>
    <tr>
        <td width="50" align="right">
        </td>
        <td width="200" align="left">
            <input type="submit" value="保存" class="super normal button">
            <a href="{{ pre }}">返回</a>
        </td>
    </tr>
</tbody></table>
</fieldset>
</form>
</div>
</div>
{% endblock %}