{% extends "AdminBase.html" %}
{% block maincontent %}
<script type="text/javascript">
$(function(){
    $.each($("table"), function(n, i) {
        $(i).bind("click", function(event) {
            var iText = event.target.getAttribute("value"), iData = event.target.getAttribute("data");
            if(iData == null) return ;
            console.log(iText + ":" + iData);
            if(iText == "修改") {
                location.href = "{{ baseurl }}/admin/attachment/" + iData + "?p={{ p.index }}";
            } else if(iText == "删除") {
                    $.ajax({
                        type:"DELETE",
                        url:"{{ baseurl }}/admin/attachment/"+iData,
                        data:{"user":iData},
                        success:function(msg){
                            if(msg == "ok") {
                                $(event.target).parent().parent().remove();
                            }
                        },
                        error:function(xhr, textStatus, errorThrown){
                            alert("出错"+textStatus);
                        }
                    });
            }
        });
    });
});
</script>
<div class="box">
<div class="inner">
<form method="POST">
<fieldset>
	<legend>附件管理</legend>
    {% if msg %}<div class="cell">{{ msg }}</div>{% endif %}
    <div class="cell"><input type="button" value="上传" onclick="location.href='{{ baseurl }}/admin/user/new'" class="super normal button"> &nbsp;</div>
    <table cellpadding="1" cellspacing="0" border="0">
    <thead><tr><td width="35">序号</td>
               <td width="120">文件名</td>
               <td width="60" align="center">类型</td>
               <td width="60" align="center">大小</td>
               <td width="60" align="center">所属</td>
               <td width="250" align="center">操作</td></tr></thead>
    <tbody>
    {% for i, filename, filetype, filesize, belong, key in datas -%}
    <tr>
        <td width="35" align="center">
            {{ i }}
        </td>
        <td width="120" align="left">
            <a href="{{ baseurl }}/attachment/{{ key }}">{{ filename }}</a>
        </td>
        <td width="60" align="center">
            {{ filetype }}
        </td>
        <td width="60" align="center">
            {{ filesize|filesizeformat }}
        </td>
        <td width="60" align="center">
            <a href="{{ baseurl }}/admin/user/{{ belong.key() }}">{{ belong.username }}</a>
        </td>
        <td width="250" align="center">
            <input type="button" value="浏览" onclick="location.href='{{ baseurl }}/attachment/{{ key }}'" class="super normal button">&nbsp;
            <input type="button" value="修改" data="{{ key }}" class="super normal button">&nbsp;
            <input type="button" value="删除" data="{{ key }}" class="super normal button">
        </td>
    </tr>
    {%- endfor %}
</tbody></table>
    {% import 'macros.html' as macros %}{{ macros.pager(p, baseurl + "/admin/attachment/") }}
</fieldset>
</form>
</div>
</div>
{% endblock %}