<!-- comments  -->

<div id="comments-wrap">
	<h2 id="respond">{% if comments %}{{ comments|count }}{%else%}0{%endif%} 条留言</h2><span class="goto-comment"><a href="#commentform">我要留言</a></span>
	   {% if comments %}
		<ul>
		{% for ctype, created, nickname, hascheck, content in comments %}
		{% if ctype == "comment" %}
		<li id="comment-{{ created.strftime('%Y/%m/%d %H:%M') }}" class="{{ ctype }}">
			<div class="commentleft">
				<div class="commentcount">{{ loop.index }} F </div>
				<div id="gravatar"></div>
			</div>
			<div class="commentright">
				<p class="header{{ loop.cycle(' alt', '') }}" >
					{{ nickname }} | {{ created.strftime('%Y/%m/%d %H:%M') }}
				</p>
				{% if not hascheck %}<p class="waiting"><em>您的留言正等待审核</em></p>
				{% else %}
				<div class="commenttext">
					{{ content }}
				</div>
                {% endif %}
			</div>
		</li>
        {% endif %}
        {% endfor %}
		</ul>
        {% endif %}
        {% if trackback %}
		<h2>Trackbacks</h2>
		<ol>
			<?php foreach ($comments as $comment) : ?>
			<?php $comment_type = get_comment_type(); ?>
			<?php if($comment_type != 'comment') { ?>
				<li><?php comment_author_link() ?></li>
			<?php } ?>
			<?php endforeach; ?>
		</ol>
		{% endif %}

		{% if commentstatus and commentstatus != "disenable" %}
            <p style="margin:5px 0; background:#FFCCCC; border:1px solid #FF3366; display:none;"><span id="errorshow">{{ error }}</span></p>
			{% if commentstatus == "useronly" and not curuser is defined %}
			<p>请 <a href="{{ siteurl }}/loging?redirect={{ realurl }}">登陆</a> 评论</p>
			{% else %}
			<p><form action="{{ siteurl }}/comment" method="post" id="commentform">
			<div id="conmmentform">
				<div id="conmmentforminfo">
				{% if curuser %}
					<div class="info"><a href="{{ baseurl }}/member">你好，{{ curuser.username }}</a> | <a href="{{ baseurl }}/login?action=logout" title="注销">注销</a></div>
			    {% else %}
					<label class="conmmentform-title" for="author">昵称</label> (必填)
					<div><input type="text" name="author" id="author" value="" tabindex="1" /></div>
					<label class="conmmentform-title" for="email">Email</label>  (必填，绝不公开)
					<div><input type="text" name="email" id="email" value="" tabindex="2" /></div>
					<label class="conmmentform-title" for="url">网站</label>
					<div> <input type="text" name="url" id="url" value="" tabindex="3" /></div>
				{% endif %}
				</div>
				<div id="conmmentformtext">
					<label for="comment"  class="conmmentform-title">留言区</label>
					<div><textarea name="comment" id="comment" rows="10" tabindex="4">{{ lastcomment }}</textarea></div>
					<p><input type="hidden" name="postkey" value="{{ postkey }}" />
                    <input type="hidden" name="redirect" value="{{ realurl }}#commentform" />
					<input type="submit"  name="submit" value=" " class="comment-button clickable" tabindex="5" /></p>
				</div>
			</div>
			</form></p>
            {% endif %}
		{% endif %}



</div>
<!-- /comments -->