{% include 'header.html' %}
	<div id="main">
		<div id="maincontent"><div class="forFlow">
			{% if posts|count > 0 %}
				{% for url, realurl, title, lencomment, created, views, precontent, catetitle, authorname, tags in posts %}
					<div class="post" id="post-{{ url }}">
						<h2 class="post-tltle"><a href="{{ baseurl }}/{{ realurl }}" rel="bookmark" title="{{ title }}">{{ title }}</a></h2>
						<div class="postmetadata-top">
							<span class="post-comments">{{ lencomment }} comments</span>
							<span class="post-date">{{ created.strftime("%Y/%m/%d %H:%M") }}</span>
							<span class="post-views">{{ views }}</span>
						</div>
						<div class="entry">
							{{ precontent }}
						</div>
						<div class="postmetadata">
							<span class="post-cat">{{ catetitle }}</span>
							<span class="post-author">{{ authorname }}</span>
							<span class="post-tag">{{ tags|join(",") }}</span>
						</div>
					</div>
				{% endfor %}
				<div class="navigation">
					<div class="pagenavi">{% import 'macros.html' as macros %}{% if not pagetag is defined %}{% set pagetag = "page/" %}{% endif %}{{ macros.pager(p, pagetag) }}</div>
				</div>
			{% else %}
				<h2 class="center">Not Found</h2>
				<p class="center">不好意思，您所查看的内容不再这里，您可以通过侧栏搜索工具查一下。</p>
            {% endif %}
		</div></div>
	{% include 'sidebar.html' %}
	</div>
{% include 'footer.html' %}