

<div id="sidebar">

	<div id="rss"><a href="{{ baseurl + rss_url}}"><div id="rss-pic"></div></a></div>

	{% include 'searchform.html' %}

	<ul id="sidebarul">
        {% if categorys %}
		<li>
			<h3>文章分类</h3>
			<ul class="side-cat" >
            {% for title, description, url, pcount in categorys %}
            <li><a href="{{ baseurl }}/category/{{ url }}">{{ title }}<span class="article-nums"> ({{ pcount }})</span></a></li>
            {% endfor %}
			</ul>
        <div class="clear"></div>
		</li>
        {% endif %}

        {% if lastcomments %}
		<li>
			<h3>文章分类</h3>
			<ul class="side-cat" >
            {% for title, description, url, pcount in categorys %}
            <li><a href="{{ baseurl }}/category/{{ url }}">{{ title }}<span class="article-nums"> ({{ pcount }})</span></a></li>
            {% endfor %}
			</ul>
        <div class="clear"></div>
		</li>
        {% endif %}
        {% if tags %}
		<li >
			<h3>标签云</h3>
			<ul>
            {% for i in tags %}
            <li><a href="{{ baseurl }}/tags/{{ i.title }}" title="{{ i.description }}">{{ i.title }}<span class="article-nums"> ({{ i.postslen }})</span></a></li>
            {% endfor %}
            </ul>
		</li>
        {% endif %}
	</ul>

</div>

