{% include 'header.html' %}
	<div id="main">
		<div id="maincontent"><div class="forFlow">
        {% if post %}
        {% set url, realurl, title, lencomment, created, views, content, authorname, posttags, category, postkey = post %}
		<div class="navigation-top"><span>您的位置：</span><a href="{{ baseurl }}">首页</a> > <a href="{{baseurl}}/category/{{category.url}}"title="{{category.description}}">{{category.title}}</a> > <a href="{{baseurl}}/{{realurl}}" title="{{title}}">{{title}}</a></div>

			<div class="post" id="post-{{url}}">
				<h2 class="post-tltle"><a href="{{ baseurl }}/{{ realurl }}" rel="bookmark" title="{{ title }}">{{ title }}</a></h2>
				<div class="postmetadata-top">
					<span class="post-comments"><a href="#respond">{{ lencomment }} comments</a></span>
					<span class="post-date">{{ created.strftime('%Y/%m/%d %H:%M') }}</span>
					<span class="post-views">{{ views }}</span>
				</div>
				<div class="entry">
					{{ content }}
				</div>
				<div class="postmetadata">
					<span class="post-cat">{{ category.title }}</span>
					<span class="post-author">{{ authorname }}</span>
					<span class="post-tag">{{ posttags|join(',') }}</span>
				</div>
			</div>

			<!--<div class="navigation">
				##<?php previous_post('<span class="previous">%</span>','','yes') ?>
				##<?php next_post('<span class="next">%</span>','','yes') ?>
			</div>-->

			<div class="related">
				<h4>相关文章</h4>
				<ul>TODO</ul>
			</div>
		{% include 'comments.html' %}
		{% else %}
			<h2 class="center">Not Found</h2>
			<p class="center">不好意思，您所查看的内容不再这里，您可以通过侧栏搜索工具查一下。</p>
		{% endif %}
		</div></div>
	{% include 'sidebar.html' %}
	</div>
{% include 'footer.html' %}